* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.intro h1 {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 45px;
  line-height: 52px;
  color: #ff1900af;
  background-image: url("images/orange_squares.svg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
}

.intro h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  line-height: 32px;
  color: #ec5242;
}

.venue h2 {
  font-family: 'COCOGOOSE', sans-serif;
  color: #272a31;
}

.title h3 {
  font-size: 18px;
  line-height: 16px;
  color: #ec5242;
}

h4 {
  font-style: italic;
}

.headline h1,
.headline h2 {
  color: #ec5242;
}

.toolbar-container {
  display: none;
}

.logo {
  display: none;
}

.menu {
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-image: url(images/landing-bkg-pattern-sm.svg), url(images/landing-bkg.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  padding: 5%;
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 0;
}

.bounding-box {
  background-color: #e5e5e5;
  border: #fff 3px solid;
  padding: 1.5rem;
}

.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #272a31;
  background-image: url(images/mesh.svg);
  padding: 3rem 5%;
  color: #fff;
}

.item-program {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-artists {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  align-items: center;
  padding: 1rem;
  gap: 10px;
  background-color: #ffffff25;
}

.grid-item2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
  gap: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.program button {
  border: none;
  background-color: #ec5242;
  width: 80%;
  padding: 1.3rem;
  color: #ffffff;
}

.tickets a {
  color: #ffffff;
}

.artists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem 5%;
}

.artists button {
  border: #e5e5e5 1px solid;
  border-radius: 3px;
  background-color: white;
  width: 100%;
  padding: 15px;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.fa-chevron-down {
  color: #ec5242;
}

.thumbnail img {
  max-width: 100%;
}

.headline-about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #272a31;
  background-image: url(images/landing-bkg-pattern-sm.svg);
  background-repeat: no-repeat;
  background-size: cover, cover;
  padding: 5%;
  text-align: center;
}

.contact-about {
  width: 90%;
  align-self: center;
}

.underline {
  text-decoration: underline;
}

.logo-about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 5%;
  text-align: center;
}

.logo-box {
  border: #e5e5e5 1px solid;
  padding: 2rem;
}

.logo-about-title,
.logo-about-description {
  width: 80%;
  align-self: center;
}

.grid-item-past {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.grid-item-past img {
  max-width: 100%;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.partners {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  background-color: #272a31;
  color: #fff;
  padding: 2rem 5%;
  text-align: center;
}

.partner-logos {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
}

.logo-item {
  max-height: 22px;
  opacity: 50%;
}

footer {
  padding: 2rem 5%;
}

footer h6 {
  text-align: right;
}

.footer-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer-items img {
  max-width: 30%;
}

.footer-additional {
  display: none;
}

.mobile-menu {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  padding: 20% 5%;
  background: #272a31;
  opacity: 0.98;
  font-size: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-menu a {
  color: #fff;
}

.mobile-menu a:hover {
  color: #ec5242;
}

.hamburger {
  color: #272a31;
}

.close-icon {
  display: none;
  color: #ec5242;
  z-index: 100;
}

.showMenu {
  transform: translateX(0);
}

/* ====================================================================== */

@media (min-width: 768px) {
  .toolbar-container {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    width: 100%;
    margin: auto;
    padding: 5px 15%;
    background-color: #272a31;
  }

  .toolbar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 0.8rem;
  }

  nav {
    padding: 15px 15%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* position: fixed; */
  }

  .logo {
    display: block;
    height: 40px;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .menu a {
    color: #272a31;
  }

  .menu a:hover {
    color: #ec5242;
  }

  .booking-button {
    border: #ec5242 2px solid;
    padding: 4px 10px;
  }

  .hamburger {
    display: none;
  }

  .headline {
    background-image: url(images/landing-bkg-pattern.svg), url(images/landing-bkg.jpg);
    padding: 3% 15%;
  }

  .intro {
    width: 80%;
  }

  .bounding-box {
    width: 60%;
  }

  .program {
    padding: 5% 15%;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    background-color: #ffffff25;
    text-align: center;
  }

  .item-program {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
  }

  .item-artists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    row-gap: 2rem;
  }

  .grid-item2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
    gap: 30px;
  }

  .program button {
    border: none;
    color: #fff;
    background-color: #ec534200;
    width: fit-content;
    padding: 0;
    text-decoration: underline;
  }

  .artists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5% 15%;
  }

  .artists button {
    display: none;
  }

  .thumbnail img {
    max-width: 100%;
  }

  .headline-about {
    display: flex;
    flex-direction: column;
    background-color: #272a31;
    background-image: url(images/landing-bkg-pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 15%;

    /* text-align: center; */
  }

  .about .intro {
    width: 70%;
    align-self: center;
  }

  .about .intro h2 {
    display: none;
  }

  .about .bounding-box {
    width: 100%;
    padding: 5%;
  }

  .contact-about {
    width: 70%;
    align-self: center;
  }

  .logo-about {
    padding: 5% 15%;
  }

  .logo-box {
    margin: 0 20%;
  }

  .grid-item-past {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .partners {
    padding: 3rem 15%;
    text-align: center;
  }

  .partner-logos {
    gap: 1.7rem;
  }

  .logo-item {
    max-height: 25px;
    opacity: 50%;
  }

  footer {
    padding: 3rem 15%;
  }

  footer h6 {
    text-align: left;
  }

  .footer-items {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .footer-items img {
    min-width: 100%;
  }

  .footer-additional {
    display: block;
  }
}
